<!DOCTYPE html>
<html lang="en">
<head>
  <title>StockWatch</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../CSS/history.css">
</head>
<body>
<nav class="navbar nav navbar-inverse navbar-fixed-top text" id="result">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
      <a class="navbar-brand" href="#">StockWatch</a>
      <form class="navbar-form navbar-left mobsearch" method="POST" action="stocklogged">
          <div class="input-group">
            <input type="text" class="form-control formers" id="tickers" name="ticker" placeholder="Search a Stock eg. GOOG">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav boldem">
          <li class="active"><a href="#">History</a></li>
          <li><a href="currencylogged" class="converter"><span class="glyphicon glyphicon-usd"> </span>Converter</a></li>
          <li><a href="watchlist">Watchlist</a></li>
        </ul>
        <form id="tck" action="stocklogged" method="POST">
              <input type="hidden" name="ticker" id="hold">
        </form>
        <form class="navbar-form navbar-left desksearch" method="POST" action="stocklogged">
          <div class="input-group">
            <input type="text" class="form-control formers" id="tickers2" name="ticker" placeholder="Search a Stock eg. GOOG">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
        <ul class="nav navbar-nav boldem navbar-right">
            <li><a href = "ranking">Ranking</a></li>
            <li><a href="loggedin"><span class="glyphicon glyphicon-user"> </span><span id="acc"><%= acc %></span></a></li>
            <li><a href="logout" class="logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="table-responsive">  
            <table class="text history" border=1>
                <tr>
                    <td>Ticker</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Purchase Date</td>
                    <td>Transaction Type</td>
                </tr>
                <%var history=hists["hists"];
                    for(var i=0; i < history.length; i++) { 
                        if(history[i].ttype === "Bought"){ %>
                            <tr class="green">
                        <% }else{ %>
                            <tr class="red">
                        <% } %>
                        <td class="tick"><%= history[i].ticker %></td>
                        <td><%= history[i].price %></td>
                        <td><%= history[i].quantity %></td>
                        <td><%= history[i].pdate %></td>
                        <td><%= history[i].ttype %></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</div>
  <script src="../JS/profile.js"></script>
  <script src="../JS/navbar.js"></script>
</body>
</html>


